/*....Common.....*/
.effect:hover {
  background-color: #445119;
  opacity: 0.6;
  transition: 0.5s ease;
}
body {
  font-family: "Poppins", sans-serif;
}
/*.....Navigation Bar.....*/

#main-nav,
#main-nav.transparent-header,
#main-nav.et_fixed_nav {
  height: 80px;
}
#main-nav.transparent-header,
.transparent-header #main-nav {
  background: 2 2;
}

#main-nav {
  position: fixed;
  z-index: 99999999;
  top: 0;
  width: 100%;
  padding: 8px 0;
  background: #1f2235;
  -webkit-transition: 300ms all cubic-bezier(0.4, 0, 0.2, 1);
  transition: 300ms all cubic-bezier(0.4, 0, 0.2, 1);
}
.check_nav {
  margin-top: 30px;
  padding-bottom: 3px;
  background: #1f2235;
}
.nav-bg {
  background: #1f2235;
}
.nav-icon a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  padding: 0 25px;
}

/*....Banner....*/
.header {
  width: 100%;
  background: url("./images/Header.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.header .container-fluid .row {
  margin-top: 80px;
}
.banner_content {
  margin-top: 250px;
  margin-left: 30px;
  align-items: center;
  color: #fff;
}
.banner_img {
  margin-top: 109px;
}
.banner_img img {
  height: 390px;
  width: 150px;
}
.header_content {
  display: flex;
  align-items: center;
  height: 10vh;
  width: 100%;
  color: #fff;
  flex-wrap: wrap;
}

.header_ul {
  list-style-type: none;
  display: flex;
  width: 60%;
  padding: 10px 10px;
  margin: 10px auto;
}
.header_ul li {
  width: 38px;
  height: 38px;
  border: 2px solid #ff5f4a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.banner_content h1 {
  font-size: 26px;
  font-weight: 500;
}
.banner_content p {
  font-size: 18px;
  font-weight: 300;
  padding-top: 5px;
  color: #dfdfdf;
}
.header_ul a svg {
  color: #fff;
  padding-left: 3px;
  padding-right: 3px;
  height: 16px;
  width: 16px;
}
/* .....Skills..... */

.skills {
  background: #fff;
  padding: 60px 0;
  color: rgb(29, 25, 25);
}
.skills-header {
  width: 33.33333333333333%;
  margin: 20px auto;
  text-align: center;
}
.container-header {
  margin-top: 10px;
}

.heading {
  margin-bottom: 12px;
  font-weight: 500;
  color: black;
  font-size: 20px;
}
.main_header {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 500;
  color: #ff5f4a;
}
.main_content {
  font-size: 14px;
  color: black;
  margin: 2px auto;
}

.commonBorder {
  background: #ff5f4a;
  height: 3px;
  width: 120px;
  margin: 20px auto;
}
/* .col-4.col-width {
  column-width: length;
} */
.skills_box {
  padding: 40px;
  background: #261951;
  color: #fff;
  margin: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.common_icons {
  font-size: 40px;
  color: #ff5f4a;
  margin-bottom: 15px;
}

.skills_box-header {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}
.skills_box-p {
  font-size: 15px;
  color: #dfdfdf;
}

/*....About...*/

.about {
  width: 100%;
  background: #261951;
  padding: 100px 0;
}
.common {
  width: 60%;
  margin: 20px auto;
  text-align: center;
}
.main_header-about {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 500;
  color: #ff5f4a;
}
.About_content {
  font-size: 16px;
  color: #fff;
}
.about_img {
  height: 440px;
  width: 250px;
  padding-right: 50px;
}
.info_contacts {
  color: #dfdfdf;
  margin-top: 105px;
  width: 50%;
  height: 362px;
}
.info_contacts h2 {
  color: #fff;
  margin-bottom: 20px;
}
.info_title {
  color: #ff5f4a;
}
.about-para {
  font-size: 11px;
}
/*.........Experience.......*/
.experience {
  background: #fff;
  padding: 40px 0;
  color: rgb(29, 25, 25);
}
.experience_box {
  background: #261951;
  padding: 30px;
  margin: 20px;
}
.experience_heading {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 14px;
}
.experience_p {
  font-size: 15px;
  color: #dfdfdf;
}
.experience_icons {
  font-size: 35px;
  color: #ff5f4a;
  margin-bottom: 15px;
}
.main_header {
  font-size: 32px;
  margin-bottom: 20px;
  color: #ff5f4a;
}

/*.....Achievement.....*/
.achievement {
  background: #fff;
  color: rgb(29, 25, 25);
  /* padding: 10px 0; */
}
.main_header-achiv {
  font-size: 30px;
  margin-bottom: 25px;
  color: #ff5f4a;
}

.car_img {
  background: url("./images/Header.png");
  height: 300px;
}

/*.....Footer....*/
.footer {
  background: #261951;
  height: 120px;
}
.footer p {
  color: #dfdfdf;
  font-size: 16px;
  font-weight: 500;
  padding: 8px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/*footer*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
  font-family: Roboto;
}

section {
  width: 100%;
  display: inline-block;
  background: #261951;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed {
  background-color: #1f2235;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
  margin-top: 60px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease 0.25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease 0.25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #1f2235;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition: all 0.25s;
}

.footer-distributed .footer-right a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
  text-decoration: underline;
}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}

/*project*/

html,
body {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.container-fostrap {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}

h1.heading {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 500;
  margin: 0 0 1em;
  color: #fff;
}
@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}
@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}
@media (min-width: 900px) {
  h1.heading {
    font-size: 2.2em;
    margin: 0 0 0.5em;
    font-style: normal;
    font-family: "Times New Roman", Times, serif;
  }
}
.para {
  text-decoration: none;
  font-size: 18px;
  line-height: 1.55rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #221066;
}
.card {
  display: block;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.25s;
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img-card {
  width: 100%;
  height: 200px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  display: block;
  overflow: hidden;
}
.img-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: all 0.25s ease;
}
.card-content {
  padding: 15px;
  text-align: left;
}
.card-title {
  margin-top: 0px;
  padding-bottom: 5px;
  font-weight: 600;
  font-size: 1.5em;
  align-items: center;
}
.card-title a {
  color: #000;
  text-decoration: none;
}
.card-read-more {
  border-top: 1px solid #d4d4d4;
}
.card-read-more a {
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  text-transform: uppercase;
}
